<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentManagement.Properties.Settings.StudentManagementConnectionString"
            connectionString="Data Source=LAPTOPOFTHAI\NDT_SQL14;Initial Catalog=StudentManagement;Persist Security Info=True;User ID=sa;Password=1234$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>